* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

table {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 5%;
}

.tg  {
    border-collapse:collapse;
    border-color:#f8fbff;
    border-spacing:0;
    text-align: center;
}

.tg td {
    background-color:#fff6f6;
    border-color:#0b0c0e;
    border-style:solid;
    border-width:1px;
    color:#444;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;word-break:normal;
    text-align: center;
}

.tg th {
    background-color:#7aadb4;
    border-color:#9ABAD9;
    border-style:solid;
    border-width:1px;
    color:#fff;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    text-align: center;
}

.tg .tg-phtq {
    background-color:#c8ccbb;
    border-color:inherit;
    text-align:left;
    vertical-align:top;
    text-align: center;
}

.tg .tg-hmp3 {
    background-color:#D2E4FC;
    text-align:left;
    vertical-align:top;
    text-align: center;
}

.tg .tg-0pky {
    border-color:inherit;
    text-align:left;
    vertical-align:top;
    text-align: center;
}

.tg .tg-ur59 {
    border-color:#343434;
    text-align:left;
    vertical-align:top;
    text-align: center;
}

.tg .tg-0lax {
    text-align:left;
    vertical-align:top;
    text-align: center;
}


td > input {
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button {
    margin-left: 5%;
    margin-top: 5%;
}

